resources/resmon.dtd

<!ELEMENT ResmonResults (ResmonResult+)>
<!ELEMENT ResmonResult (last_runtime_seconds, last_update, metric+, state?)>
<!ATTLIST ResmonResult
       module CDATA #REQUIRED
       service CDATA #REQUIRED
>
<!ELEMENT last_runtime_seconds (#PCDATA)>
<!ELEMENT last_update (#PCDATA)>
<!ELEMENT metric (#PCDATA)>
<!ATTLIST metric
       name CDATA #REQUIRED
       type (0|i|I|l|L|n|s) #IMPLIED
>
<!ELEMENT state (BAD|WARNING|OK)>
